[Desktop Entry]
Comment=Pink with a hint of green
Name=Rosewood
X-KDE-PluginInfo-Author=Thea Barnes
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=thea@tsbarnes.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=com.tsbarnes.Rosewood
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/tsbarnes/Rosewood
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1412620,kns://plasma-themes.knsrc/api.kde-look.org/1167639,kns://icons.knsrc/api.kde-look.org/1298508